<!DOCTYPE html>
<html>
<body>
    <form method="post" action="/category/InsertCategory">
        <label>CATEGORY NAME</label><br />
         @* @Html.TextBoxFor(categoryName) *@ 
        <br />
        <label>CATEGORY DESCRIPTION</label><br />
        @* @Html.TextBoxFor(categoryDesc) *@
        <br />
        <input id="btnSubmit" type="submit" value="NEXT" />
    </form>
</body>
</html>

